button {
    padding: 0;
    border: none;
    font: inherit;
    color: inherit;
    background-color: transparent;
    cursor: pointer;
  }

.body {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: rgba(70, 69, 69, 0.301);
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif

}
.container {
    display: flex;
    background-color: rgb(221, 219, 219);
    position: relative;
    align-items: center;
    justify-content: center;
    border-radius:10px;
    -webkit-border-radius:10px ;
    -moz-border-radius:10px ;
    -ms-border-radius:10px ;
    -o-border-radius:10px ;
}

.game__over{
    padding: 10px;
    position: absolute;
    background-color: rgb(0, 0, 0);
    border-radius: 3px;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size:30px;
    opacity: 0;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    }

.active{
    z-index: 3;
    opacity: 1;
    animation: colorBg 1s infinite;
    -webkit-animation: colorBg 1s infinite;
}
@keyframes colorBg {
    50%{
        background-color: rgb(124, 20, 20);
    }
    
}
.area {
    display: grid;
    justify-items: center;
    align-items: center;
    border: 1px solid black;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
    position: relative;
    background: linear-gradient(90deg, rgba(136, 153, 58, 0.5) 1%, rgba(33,158,184,.5) 100%);

}
.area_clean{
}
.square{
    margin: 5px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: rgb(0, 0, 0);
    border: 1px solid black;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
.snake{
    margin: 0px;
    background-color: #357070;
    border-radius: 0%;
    -webkit-border-radius: 0%;
    -moz-border-radius: 0%;
    -ms-border-radius: 0%;
    -o-border-radius: 0%;
    width: 20px;
    height: 20px;
}



.apple{
    margin: 0px;
    background-color:#39c915;
    width: 20px;
    height: 20px;

}
.snaketail{
    background-color:#5FCACA;
    margin: 0px;
    border-radius: 0%;
    -webkit-border-radius: 0%;
    -moz-border-radius: 0%;
    -ms-border-radius: 0%;
    -o-border-radius: 0%;
    width: 20px;
    height: 20px;
}


.block{
    display: flex;
    gap: 20px;
    margin:20px 0 20px 0;
}
.box{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 150px;
    height: 80px;
    gap: 20px;
}
.result{
    padding: 5px;
    display: flex;
    flex-direction: column;
    display: flex;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}


.result__score,
.result__best,
.result__speed{
    margin: 5px;
    text-transform: uppercase;
    color: rgb(0, 0, 0);
    font-size: 12px;
    
}
.reset{
    display: none;
    text-align: center;
    font-size: 10px;
    text-transform: uppercase;
    padding: 5px;
    height: 50px;
    color: white;
    border: 1px solid white;
    background: linear-gradient(90deg, rgba(136, 153, 58, 0.5) 1%, rgba(33,158,184,.5) 100%);
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    transition: 0.2s;
    -webkit-transition: 0.2s;
    -moz-transition: 0.2s;
    -ms-transition: 0.2s;
    -o-transition: 0.2s;
}
.end{
    display: block;
}
.reset:hover{
    box-shadow: 1px 1px 5px black;
}
.control{
    
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-areas: 
    'a a'
    'b c'
    'd d';
    gap: 10px;
    width: 100vw;
    height: 200px;
}
.button{
    width: 100px;
    height: 50px;
    border: 1px solid white;
    color: white;
    background: linear-gradient(90deg, rgba(136, 153, 58, 0.5) 1%, rgba(33,158,184,.5) 100%);
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    text-transform: uppercase;
    transition: 0.2s;
    -webkit-transition: 0.2s;
    -moz-transition: 0.2s;
    -ms-transition: 0.2s;
    -o-transition: 0.2s;
}
.button:hover{
    box-shadow: 1px 1px 5px black;
}
.up{
    grid-area: a;
    justify-self: center;
}
.left{
    grid-area: b;

}
.right{
    grid-area: c;

}
.down{
    grid-area: d;
    justify-self: center;
}
